<!doctype html>
<html ng-app="cmuApp">
  <head>
    <title>CMU Angular app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
    <script src="cmu.js"></script>
  </head>
  <body>
    <div ng-controller="CMUController">
      <h2>Hello {{cmuText}}</h2>
      <p>{{text1}}
    </div>
  </body>
</html>